.search_screen {
  height: 100vh;

  &__result {
    height: 80vh;
    overflow-y: auto;
  }
}

.search_result_item {
  display: flex;
  align-items: center;
  padding: 2%;

  & > * {
    pointer-events: none;
    touch-action: none;
  }

  & + & {
    border-top: 1px solid rgba(0, 0, 0, 0.158);
  }

  &__avatar {
    width: 15%;
    margin-right: 5%;
    border-radius: 6px;
  }

  &__name {
    width: 50%;
    font-size: 3vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__number_of_repos_prefix {
    margin-left: auto;
    font-size: 2.5vh;
  }

  &__number_of_repos {
    width: 10%;
    font-size: 2.5vh;
    text-align: right;
  }
}
